@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}
body{
    background-color: white;
    padding: 30px 40px;
    height: 100%;
}

.title{
    font-family: 'Inconsolata', monospace;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    flex-wrap: wrap;
}

aside{
    width: 50%; 
    min-width: 350px;
}

.img{
    display: flex;
    justify-content: center;
}

.scarecrow_img{
    max-width: 650px;
}
.info h1{
    font-size: clamp(48px, 5vw, 64px);
    font-weight: 700;
    font-family: 'Space Mono' , monospace;
    padding-bottom: 20px;
}

.text{
    font-family: 'Space Mono' , monospace;
    line-height: 2rem;
    font-weight: 100;
    max-width: 30vw;
    font-size: 1.75rem;
}

.btn-home{
    background-color: black;
    color: white;
    font-family: 'Space Mono' , monospace;
    margin-top:  30px;
}
.btn-home p{
    text-align:center;
    font-size: 1rem;
    font-weight: 900;
    margin: 23px 42px;
}

footer{
    margin-top: -25px;
    font-size: 1.50rem;
    display: flex;
    justify-content: center;
    color: #BDBDBD;
}

footer a {
    font-weight: 900;
    color: grey;
    outline: none;
    text-decoration: none;
}
/* Responsive */

/* Tablet */
@media screen and (width: 744px){
    .scarecrow_img{
        max-width: 450px;
        margin-top: 30px;
    }
    .info h1{
        font-size: 2.60rem;
        max-width: 90vw;
    }
    .text{
        font-size: 1.40rem;
        padding: 6px;
        max-width: 400px;
    }
    .btn-home{
        margin-bottom: 90px;
    }
    footer{
        margin-top: 150px;
    }
}
/* Laptop */
@media screen and (max-width: 1024px){
    .scarecrow_img{
        max-width: 450px;
    }
    .info h1{
        font-size: 2rem;
        max-width: 30vw;
    }
}